---
---

@import "{{ site.theme }}";body {
 background: #000000
}
header {
  display: none;
}

#wrapper  {
  position:relative;
  max-width: fit-content;
  margin-inline: auto;
  width:80%;
  height:auto;
 {
  
}
}

#wrapper img {
  object-fit: contain;
} 
